<div class="panel panel-default permissions-confirm">
  <div class="panel-heading">
    <h4>Apply changes to contents?<h4>
  </div>
  <div class="panel-body">
    <%= render_partial I18n.t("sufia.upload.change_permissions_message_html").html_safe %>
  </div>
  <div class="form-actions panel-footer">
    <%= button_to "Yes please.", Sufia::Engine.routes.url_helpers.copy_curation_concerns_permission_path([sufia,curation_concern]), class: 'btn btn-primary' %>
    <%= link_to "No. I'll update it manually.", Sufia::Engine.routes.url_helpers.curation_concerns_generic_work_path([sufia, curation_concern]), class: 'btn' %>
  </div>
</div>
